<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        The emergence and growth of blogs in the late 1990s coincided with the
        advent of web publishing tools that facilitated the posting of content
        by non-technical users who did not have much experience with HTML or
        computer programming. Previously, a knowledge of such technologies as
        HTML and File Transfer Protocol had been required to publish content on
        the Web, and early Web users therefore tended to be hackers and computer
        enthusiasts. In the 2010s, the majority are interactive Web 2.0
        websites, allowing visitors to leave online comments, and it is this
        interactivity that distinguishes them from other static websites. In
        that sense, blogging can be seen as a form of social networking service.
        Indeed, bloggers not only produce content to post on their blogs but
        also often build social relations with their readers and other bloggers.
        However, there are high-readership blogs which do not allow comments.
        Many blogs provide commentary on a particular subject or topic, ranging
        from philosophy, religion, and arts to science, politics, and sports.
        Others function as more personal online diaries or online brand
        advertising of a particular individual or company. A typical blog
        combines text, digital images, and links to other blogs, web pages, and
        other media related to its topic. The ability of readers to leave
        publicly viewable comments, and interact with other commenters, is an
        important contribution to the popularity of many blogs. However, blog
        owners or authors often moderate and filter online comments to remove
        hate speech or other offensive content. Most blogs are primarily
        textual, although some focus on art (art blogs), photographs
        (photoblogs), videos (video blogs or "vlogs"), music (MP3 blogs), and
        audio (podcasts). In education, blogs can be used as instructional
        resources; these are referred to as edublogs. Microblogging is another
        type of blogging, featuring very short posts.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
